<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>opml.url</key>
	<string>http://blogbridge.com/points/bbip.opml</string>
	<key>max.read.age</key>
	<integer>300</integer>
	<key>max.unread.age</key>
	<integer>432000</integer>
</dict>
</plist>
